:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* Обнуляем всё лишнее */
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh; /* Важно: строго высота вьюпорта */
  overflow: hidden; /* Убираем скролл у всего окна, скроллы будут внутри колонок */
}

body {
  background-color: #f0f2f5;
  display: block; /* Убираем центрирование, если оно было в других местах */
}

#root {
  display: flex;
  flex-direction: column; /* Если у тебя есть Header сверху, они встанут друг под друга */
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
